<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ entity_print_css }}
</head>
<body>

<header>
  <div style="background:#2f3759; color:white; padding:10px">
     <img src="/themes/custom/atdove/logo.png" style="height:50px;"/>
      <p style="font-size:0.75rem;">© 2022 DoveLewis Emergency Animal Hospital - All Rights Reserved</p>
  </div>
</header>

<div class="page">
    {{ content }}
</div>

<footer>
  <div style="background:#2f3759; color:white;  padding:10px">
     <img src="/themes/custom/atdove/logo.png" style="height:50px;"/>
      <p style="font-size:0.75rem;">© 2022 DoveLewis Emergency Animal Hospital - All Rights Reserved</p>
  </div>
</footer>
</body>
</html>
