/**
 * Default styling for buttons.
 *
 * Most styling comes from:
 * web/themes/custom/atdove/src/scss/3.base/aristotle-overrides/_buttons.scss
 */

// Button with BluePearl colors.
.btn-bluepearl {
  @extend .btn;
  background-color: $color--bluepearl-blue;
  border: 2px solid $color--bluepearl-blue;

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($color--bluepearl-blue, 5%);
    border: 2px solid $color--bluepearl-blue;
  }
}
