{#
  Template for description meant to be displayed on organization group home/canonical route.
#}
<div class="card">
  <div class="card-body">
    <p>{{ "As an Org Admin, you can manage your Organization using the menu above."|t }}</p>
    <br>
    <p>{{ "You can invite members, manage members and manage billing."| t }}</p>
  </div>
</div>
